/* Global styles */
body {
    font-family: Arial, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

article {
    margin-bottom: 40px;
   }
   